.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  div{
    font-size: 20px;
    margin-bottom: 300px;
    margin-left: auto;
  }

  h1{
    text-align: center;
  }

  body{
    color: rgb(36, 32, 30);
    line-height: 1;
  }


  .btn{
    background-color: white;
    font-size: 20px;
    text-transform: uppercase;
    color:  rgb(120, 122, 221);
    border: 2px; 
    font-weight: bold;
    border-radius: 0.7em;

    display: inline-block;
    padding: 12px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1.3;
  
  }

  
